# Ordner
1471
1502
Blue Kopter
Flashtool
Quad-Sim-master
RF24
SimonK
Accelerometer
Adafruit_SoftServo-master
br3ttb-Arduino-PID-Library-d21d7e3
Oszibilder
Remotecontrol


# Dateien und Endungen
*.zip
*.pdf
*.tmp

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Motor_ansteuern/Motor_ansteuern.ino
Motor_ansteuern/Servotest/Servotest.ino
Seriell_Test/Seriell_Test.ino
Servo Library Info.txt
Gewichtsüberschläge.xlsx
readme.txt
Hinweise, dokumentation.docx
